.host-card {
    max-width: 300px !important;
    margin-left: auto;
    margin-right: auto;
}
.host-photo {
    max-width: 200px !important;
}
.host-name  {
    color: #fff !important;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.control:hover {
    cursor: pointer;
}
.correct {
    color: #82ff82;
}
.incorrect {
    color: #ff8282;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Завантажити пак';
    color: white;
}

.custom-file-input::after {
    content: "пак завантажено";
    color: white;
}
