
table td {
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid #dee2e6;
  padding: 0.75rem;
}
table {
  width: 80%;
  margin-bottom: 1rem;
  color: #fff !important;
  border-collapse: collapse;
}
.signil-table {
  margin-left: auto;
  margin-right: auto;
}
.signil-cell {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}
.hoverable:hover {
  background-color: #999;
  cursor: pointer;
}
.signil-cell-question-asked {
  background-color: #999;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.round-name {
  color: #fff !important;
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
}

.signil-cell-theme {
  width: 45%;
}
.question-type{
  font-size: 20px;
  color: #60ff89;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}