body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
iframe
{
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:100%;
  height:100%;
  border:none;
  margin:0;
  padding:0;
  overflow:hidden;
  z-index:999999;

}

a:link { text-decoration: none; color: white }


a:visited { text-decoration: none; color: white }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

#signil-question {
    color: #ffffff;
    font-size: 40px;
}
#signil-answer {
    color: #ffffff;
    font-size: 40px;
}

#signil-header {
  color: #ffffff;
  font-size: 72px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: -0.5%;
}


body {
  background-color: #1E5BAA;
}
